@{
    ViewBag.Title = "Home Page";
}

<div class="row widget-bg-color-white no-space margin-bottom-20">
    <div class="col-md-3 col-sm-6 no-space">
        <!-- BEGIN WIDGET SUBSCRIBE -->
        <div class="widget-subscribe widget-subscribe-quote widget-bg-color-purple">
            <h2 class="widget-subscribe-title widget-title-color-purple-dark text-uppercase">
                Så fungerar det 
            </h2>
            <p class="widget-subscribe-subtitle widget-title-color-purple-light">
                Sök och hitta det du söker för!<br/>
                Eller bli av med onöjdiga saker
                <a class="widget-subscribe-subtitle-link" href="#">check out</a>
            </p>
        </div>
        <!-- END WIDGET SUBSCRIBE -->
    </div>
    <div class="col-md-3 col-sm-6 no-space">
        <!-- BEGIN WIDGET SUBSCRIBE -->
        <div class="widget-subscribe">
            <span class="widget-subscribe-no">1</span>
            <h2 class="widget-subscribe-title widget-title-color-gray-dark text-uppercase">
                Hitta
                <br /> produkt
            </h2>
            <p class="widget-subscribe-subtitle widget-title-color-dark-light">
                Sök bland alla arikler och hitta det du söker för
                <a class="widget-subscribe-subtitle-link" href="#">Mer</a>
            </p>
        </div>
        <!-- END WIDGET SUBSCRIBE -->
    </div>
    <div class="col-md-3 col-sm-6 no-space">
        <!-- BEGIN WIDGET SUBSCRIBE -->
        <div class="widget-subscribe widget-subscribe-border">
            <span class="widget-subscribe-no">2</span>
            <h2 class="widget-subscribe-title widget-title-color-gray-dark text-uppercase">
                Kontakta
                <br /> Säljaren
            </h2>
            <p class="widget-subscribe-subtitle widget-title-color-dark-light">
                Ta kontakt med köparen eller be köparen kontakta dif
                <a class="widget-subscribe-subtitle-link" href="#">mer</a>
            </p>
        </div>
        <!-- END WIDGET SUBSCRIBE -->
    </div>
    <div class="col-md-3 col-sm-6 no-space">
        <!-- BEGIN WIDGET SUBSCRIBE -->
        <div class="widget-subscribe widget-subscribe-border-top">
            <span class="widget-subscribe-no">3</span>
            <h2 class="widget-subscribe-title widget-title-color-gray-dark text-uppercase">
                Hämta
                <br /> din fynd
            </h2>
            <p class="widget-subscribe-subtitle widget-title-color-dark-light">
                Genomför affären med säljaren och hämta din artikel
                <a class="widget-subscribe-subtitle-link" href="#">learn more</a>
            </p>
        </div>
        <!-- END WIDGET SUBSCRIBE -->
    </div>
</div>
<div id="vmap" style="width: 400px; height: 600px;"></div>
<div class="panel panel-default bootcards-summary">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <a class="bootcards-summary-item" href="/contacts" data-pjax="#main" data-title="Contacts" style="padding-top:35px;">
                    <i class="glyphicon glyphicon-user"></i>
                    <h4>
                        Contacts
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </h4>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <a class="bootcards-summary-item" href="/companies" data-pjax="#main" data-title="Companies" style="padding-top:35px;">
                    <i class="glyphicon glyphicon-user"></i>
                    <h4>
                        Companies
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </h4>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <a class="bootcards-summary-item" href="/notes" data-pjax="#main" data-title="Notes" style="padding-top:35px;">
                    <i class="glyphicon glyphicon-user"></i>
                    <h4>
                        Notes
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </h4>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <a class="bootcards-summary-item active" href="/charts" data-pjax="#main" data-title="Charts" style="padding-top:35px;">
                    <i class="glyphicon glyphicon-user"></i>
                    <h4>
                        Charts
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </h4>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <a class="bootcards-summary-item" href="#" style="padding-top:35px;">
                    <i class="glyphicon glyphicon-user"></i>
                    <h4>
                        Files
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </h4>
                </a>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
            $(document).ready(function()
            {
            var map =    $('#vmap').vectorMap(
                {
                    map: 'se_mill',
                    backgroundColor: 'transparent',
                    enableZoom: false,
                    regionsSelectable: true,
                    regionsSelectableOne: true,
                    backgroundColor: 'transparent',
                    
                    zoomMax: 1,
                    zoomMin: 1,
                    zoomOnScroll: false,
                    regionStyle: {
                        initial: {
                            fill: '#8d8d8d',
                            
                        },
                        
                            selected: {
                                fill: '#acc1da'
                }
                    },
                    onRegionClick: function(event,code)
                    {
                        var map = $('#vmap').vectorMap('get', 'mapObject');
                        var name = map.getRegionName(code);
                        var message = 'You clicked "' + name + '" which has the code: ' + code.toUpperCase();
                        $.ajax({
                            method: 'post',
                            url: '/Region/Create',
                            data: {
                                code: code,
                                regionName: name,
                            },
                            dataType: 'json',
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert('Något gick fel! status:' + textStatus + "\nerror: " + errorThrown);
                            }
                        }).done(function () {

                        });
                        alert(message);
                    }
                });
            
            });



</script>